.mobileButton{
    /* New gradient style */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px #00000065;
    border-radius: 10px;
    background-image: linear-gradient(to right, #DC2424 0%, #4A569D 51%, #DC2424 100%);
    border: none;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%; /* Reduced width */
    height:30%;
    margin: 0 auto 4px auto;
}

.mobileButton:hover{
    background-position: right center;
}

.blankButton{
    opacity: 0;
    border-radius: .25rem;
    display: block;
    width:90%;
    height:30%;
    margin: 0 auto 4px auto;
}

.solverMovesSolver{
    height:200px!important;
}